{% extends "base.html" %}

{% load static %}
{% block content %}
<main class="content">
    <div class="auth-container">
            <div class="auth-box">
                <h2>Login</h2>
                <form class="auth-form">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" id="username" name="username" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" required>
                    </div>
                    <button type="submit" class="auth-button">Login</button>
                </form>
                <div class="auth-links">
                    <p>Don't have an account? <a href="{% url 'accounts:signup' %}">Sign Up</a></p>
                    <a href="#">Forgot Password?</a>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}