{% extends "base.html" %}
{% load static %}
{% block content %}

    <main class="content">
        <section class="page-card">
            <h1 class="page-title">Profile</h1>
            <p class="page-subtitle">Manage your account information and preferences</p>
            <div class="profile-grid static">
                <div class="profile-photo">
                    <div class="photo-frame">

                        {% if profile_data.image %}
                            <img src="{{ profile_data.image.url }}" alt="Profile Photo">
                        {% else %}
                            <img src="https://picsum.photos/400" alt="Profile Photo">
                        {% endif %}

                    </div>
                    {% comment %} <label class="upload-btn">
                        <input type="file" accept="image/*">
                        Change Photo
                    </label> {% endcomment %}
                </div>
                <div class="profile-info">
                    <h2 class="info-name">{{ profile_data.user.username }}</h2>
                    <p class="info-role">{{ profile_data.job_title }}</p>
                    <ul class="info-list">
                        <li>
                            <span class="info-label">UserName</span>
                            <span class="info-value">{{ profile_data.user.username }}</span>
                        </li>
                        <li>
                            <span class="info-label">Email</span>
                            <span class="info-value">{{ profile_data.user.email }}</span>
                        </li>
                        <li>
                            {% if profile_data.location %}
                                <span class="info-label">Location</span>
                                <span class="info-value">{{ profile_data.location }}</span>
                            {% else %}
                                <span class="info-label">Location</span>
                                <span class="info-value">User Has No Public Location</span>
                            {% endif %}
                        </li>
                        <li>
                            {% if profile_data.website %}
                                <span class="info-label">Website</span>
                                <span class="info-value">{{ profile_data.website }}</span>
                            {% else %}
                                <span class="info-label">Website</span>
                                <span class="info-value">No Website</span>
                            {% endif %}
                        </li>
                        <li>
                            {% if profile_data.bio %}
                                <span class="info-label">Bio</span>
                                <span class="info-value">{{ profile_data.bio }}</span>
                            {% else %}
                                <span class="info-label">Bio</span>
                                <span class="info-value">Unfortunately This User Doesn't Want To Share Anything</span>
                            {% endif %}
                        </li>
                    </ul>


                    <div class="profile-actions">
                        <a href="{% url 'accounts:password_change' %}" class="action-btn">Change Password</a>
                        <a href="{% url 'accounts:profile_edit' %}" class="action-btn">Edit Profile</a>
                        <a href="{% url 'accounts:delete_account' %}" class="action-btn danger">Delete Account</a>
                        <a href="{% url 'accounts:logout' %}" class="action-btn danger">Logout</a>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock content %}