{% extends "base.html" %} {% load static %}

{% block content %}
    <main class="content">
        <div class="posts-container">
            {% for post in latest_posts %}
                <article class="post-card">
                    <div class="post-image">
                        <img src="{{ post.image.url }}" alt="{{ post.title }}">
                    </div>
                    <div class="post-content">
                        <h2>{{ post.title }}</h2>
                        <p class="post-meta">Posted by {{ post.author }} on {{ post.published_date|date:'M, d Y' }}</p>
                        <p class="post-excerpt">{{ post.summary }}</p>
                        <div class="post-footer">
                            <a href="{% url 'blog:post_detail' slug=post.slug %}" class="read-more">Read More</a>
                        </div>
                    </div>
                </article>
            {% endfor %}
        </div>
    </main>

{% endblock content %}
